os: linux
dist: bionic
language: cpp

git:
  submodules: false

addons:
  apt:
    sources:
      - sourceline: 'ppa:ubuntu-toolchain-r/test'
      - sourceline: 'deb https://apt.kitware.com/ubuntu/ bionic main'
        key_url: 'https://apt.kitware.com/keys/kitware-archive-latest.asc'
    packages:
    - libasound2-dev
    - libfftw3-dev
    - libhunspell-dev
    - libfribidi-dev
    - libass-dev
    - libicu-dev
    - luarocks
    - cmake
    - build-essential
    - libboost-all-dev
    - libffms2-dev
    - libfontconfig1-dev
    - libopenal-dev
    - libuchardet-dev
    - libwxgtk3.0-dev
    - portaudio19-dev
    - libpulse-dev
    - autopoint
    - libgtest-dev
    - gcc-9
    - g++-9
  homebrew:
    packages:
    - autoconf
    - boost
    - ffmpeg
    - ffms2
    - fftw
    - freetype
    - fribidi
    - gettext
    - icu4c
    - libass
    - lua
    - luarocks
    - m4
    - wxmac
    update: true

env:
- ''
- BUILD_SUIT=autotools
- CC=gcc-9 CXX=g++-9
- BUILD_SUIT=autotools CC=gcc-9 CXX=g++-9

jobs:
  include:
    - os: osx
      osx_image: xcode11.3
      env: BUILD_SUIT=autotools

install:
- ./.travis/install.sh

script:
- if [ $TRAVIS_OS_NAME = 'osx' ]; then
    export PATH="/usr/local/opt/gettext/bin:/usr/local/opt/icu4c/sbin:/usr/local/opt/icu4c/bin:$PATH";
    export CPPFLAGS="-I/usr/local/opt/gettext/include -I/usr/local/opt/icu4c/include";
    export LDFLAGS="-L/usr/local/opt/gettext/lib -L/usr/local/opt/icu4c/lib";
    export ACLOCAL_PATH="/usr/local/opt/gettext/share/aclocal";
    export PKG_CONFIG_PATH="/usr/local/opt/icu4c/lib/pkgconfig";
    ./autogen.sh;
    ./configure --enable-debug || cat config.log;
    make -j2 || travis_terminate 1;
    make test || travis_terminate 1;
  elif [ "$BUILD_SUIT" = "autotools" ]; then
    export CPPFLAGS="-fprofile-arcs -ftest-coverage";
    export LIBS="-lgcov";
    ./autogen.sh;
    ./configure --enable-debug || cat config.log;
    make -j2 || travis_terminate 1;
    make test || travis_terminate 1;
    coveralls --exclude vendor --exclude src --exclude build --exclude tools --exclude libaegisub/windows > /dev/null;
  else
    ./build/version.sh .;
    mkdir build-dir;
    cd build-dir;
    cmake -DCMAKE_CXX_FLAGS='-Wall -Wextra -Wno-unused-parameter -pedantic' -DCMAKE_C_FLAGS='-Wall' -DWITH_STARTUPLOG=ON -DWITH_TEST=ON ..;
    make -j2 || travis_terminate 1;
    make test || travis_terminate 1;
  fi
